.problem_container{
    display: flex;
    background-color: #697280;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 90%;
    border-radius: 8px;
    padding: 0 20px;
    margin-bottom: 5px;
    margin-inline: auto;
    box-sizing: border-box;
    text-decoration: none;

}
.problem_container:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}
.name{
    font-weight: 700;
    color: white;
}
.rating{
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border-radius: 15px;
}
.info{
    color : #333333;
    font-weight: bold;
}
.page{
    padding: 10px;
    background-color: #333333;
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}
.page:disabled{
    background-color: #cccccc;
    color: #888888;
    cursor: not-allowed;
}
