*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    padding: 25px;
    background-color: #d6d0c5;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background-color: #eeeeee;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #0000009a;
    margin-bottom: 25px;
}
header h1{
    font-size: 30px;
    color: #333
}
.searchbar{
    width: 90%;
    max-width: 1300px;
}
#search{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
}
#search:focus{
    border-color: rgba(34, 34, 145, 0.823);
}
.filters{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
}
.filters select, .filters button{
    padding: 15px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
}
.filters select{
    background-color: white;
    color: #333;
}
.filters button{
    color: white;
    border: none;
    font-weight: 600;

}
.ascending{
    background-color: #118811;
}
.ascending:hover{
    background-color: #22c55e;
}
.descending{
   background-color: #ff3333;
}
.descending:hover{
    background-color: #dc2626;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
}
.li{
    height: 60px;
    width: 100%;
    background-color: #eeeeee;
    border-radius: 8px;
    background: linear-gradient(170deg, hsla(0, 5%, 83%, 0.847) 25%, hsla(0, 3%, 88%, 0.502) 50%, hsla(0, 1%, 50%, 0.62) 75%, hsla(0, 1%, 60%, 0.29) 100%);
    background-size: 200% 100%;
    animation: load 2.5s infinite linear;
}
@keyframes load {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;;
    }
}
@media (max-width: 600px) {
    body{
        padding: 10px;
    }
    header{
        padding: 15px;
    }
    header h1{
        font-size: 24px;
    }
}
